/* COLORS */

body {
  background-image: linear-gradient(to right, #121212, #0095cc);
  color: #dcbfff;
  margin: 0 auto;
  text-align: center;

}

.cntrl-btn {
  background-color:#68a6bd;
  color:#121212;
  box-shadow: 3px 3px 5px #121212;
}

.controls-container {
  width: 100%;
  position: relative;
}

#how-to {
  color: #dcbfff;
  padding: 2%;
}

#test-display {
  color: #dcbfff;
  width: 100%;
  text-align: center;
  display: none;
}

.drink-display {

  background-image: linear-gradient( to left, #dcbfff, #0095cc);
  text-align: center;
  border-radius: 10px;
  width: 100%;
  color: #121212;
  /* margin-left: 5%; */
}

.drink-text {
  color: #121212;
  font-weight: bold;
}

/* .App {
  position: relative;
} */

#title {
  font-family: 'Black And White Picture', sans-serif;
  font-size: 5em;
  text-align: center;
  color: #fff10a;
  /* margin: 5%; */
}

.controls {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 20px;
  /*box-shadow: -50px -50px 100px #121212;
  border-radius: 18px 18px 0px 0px;*/
}

.cntrl-btn:hover {
  background-color: #fff10a;
}
