######################
# Project Specific
#####################
/client/build/
/client/package-lock.json

######################
# Node
######################
/node/
node_tmp/
node_modules/
package-lock.json
npm-debug.log.*
/.awcache/*
/client/node_modules
/client/package-lock.json
.env
.DS_Store
