.menu-btn {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #68a6bd;
    color: #121212;
    box-shadow: 3px 3px 3px #121212;
}

.menu-btn:hover {
    background-color: #fff10a;
}

.menu {
    position: absolute;
    z-index: 2;
    top: -10px;
    left: -10px;
}

.modal-header {
    background-color: #0095cc;
}

.logout {
    color: #121212;
}

.modal-body {
    scroll-behavior: unset;
    overflow: none;
    text-align: left;
    background-color: #0095cc;
}

.modal-footer {
    background-color: #0095cc;
}

.menu-button {
    margin: 5% 0;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.quickstart {
    text-align: center;
    margin-left: 10px;
}

.menu-login {
    /* only for the word "Login" */
    margin-left: -10px;
}

a {
    color: #121212;
}

button {
    background-color: #0095cc;
    border: none;
    padding: 0;
}