.menu-btn {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #0095cc;
    color: #121212;
    border-color: #121212;
}

.menu {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    margin-top: -10px;
    margin-left: -10px;
    height: 100vh;
    width: 70vw;
}

.modal-body {
    height: 70vh;
    scroll-behavior: unset;
    overflow: none;
    text-align: center;
    background-color: #0095cc;
}

.modal-header {
    height: 20vh;
    margin: 0 auto;
    background-color: #0095cc;
}

.modal-footer {
    height: 10vh;
    background-color: #0095cc;
}

.logout {
    color: #121212;
}

.menu-button {
    margin: 10%;
}

a {
    background-image: linear-gradient(to left, #121212, #68a6bd);
    color: #dcbfff;
    padding: 10% 20%;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
}

.menu-btn:hover {
    background-color: #fff10a;
}