.menu-btn {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}

.menu {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    margin-top: -10px;
    margin-left: -10px;
    /* height: 100vh; */
    /* width: 70vw; */
}

.modal-body {
    /* height: 70vh; */
    scroll-behavior: unset;
    overflow: none;
}

.modal-header {
    /* height: 20vh; */
}

.modal-footer {
    /* height: 10vh; */
}

.logout {
    color: black;
}